
*{
    padding: 0;
    margin: 0 !important;
    box-sizing: border-box;
}
.collection
{
    background-color: #F4F7F6;
    padding: 170px 15px 20px
}
a{
    color: black;
   
}
a:hover
{
    text-decoration: none;
    opacity: .7;
    transition: all .5s;
    color: black;
    cursor: pointer;
}


.col-md-4
{
    overflow: hidden;
}
.resources
{
    background-color: #F4F7F6;
}
.header a{
    font-size: 24px;
    color: black;
}
i 
{
    color: aqua;
    font-size: 20px;
}
.imgs img 
{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.info
{
    background-color: white;
}
.butn button
{
    background-color: white;
}
.info a h3 
{
    color: black;
    font-size: 14px;
    text-decoration: none;
    line-height: 25px;
    
}
.linkSite span a 
{
    color: #49c5b6;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
    font-weight: 500;
}
.linkSite span a:hover 
{
    color: black;
    text-decoration: none;
    font-weight: 500;
}
.overLine{
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all .5s;
    background-color: #5c5f5f;
    opacity: 0.6;

}
.data h4 , h6 {
    color: #fff;
}
.data
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9;
}
.nav-tabs .nav-item 
{
    background-color: #fff;
     color: black;
     width: 70px;
     height: 70px;
     display: flex;
     justify-content: center;
     align-items: center;
    
}
.nav-tabs .nav-item .active {
    background-color: #000;
    color: white;
    width: 70px;
     height: 70px;
     display: flex;
     justify-content: center;
     align-items: center;
}

.butn2
{
padding-left: 45%;

}
.butn2 button{
    width: 300px;
    height: 70px;
    background-color: black;
    color: white;
}
.nav2
{
    border-top: 1px solid #ddd;
}
.navbar{
    padding: 0 !important;
}
nav
{
    z-index: 55;
}






/* ــــــــــــــــ start section footer  ____________________ */
footer
{
    background-color: #FCFCFC;
}

.links
{
    border-bottom: 1px solid #ddd;
}
a
{
    color:black;
    transition: all .5s;
    padding-right: 15px;
  
}
a:hover{
    color: rgb(177, 173, 173);
    text-decoration: none;

}
.follow span 
{
    font-size: 18px;
    font-weight: 700;
    padding-right: 10px;
}
/* ــــــــــــــــ end section footer  ____________________ */

