.date{
    width: 40px;
    height: 40px;
    background-color: rgb(233, 245, 245);
    font-size:13px;;
    border: 1px solid rgb(219, 214, 214);
    margin-left: 10px;
}

 .test{
    width: 20%;
    height: 20%;
    position:absolute;
    top:40%; 
    left: 50%;
    transform: translateX(-50%);
} 

.body{
    box-sizing: border-box;
}
a{
  text-decoration:none;
}


footer
{
    background-color: #FCFCFC;
}
.links
{
    border-bottom: 1px solid #ddd;
}
.links a
{
    color:black;
    transition: all .5s;
    padding-right: 15px;
  
}
.links a:hover{
    color: rgb(177, 173, 173);
    text-decoration: none;

}
.follow span 
{
    font-size: 18px;
    font-weight: 700;
    padding-right: 10px;
}

.nav2
{
    border-top: 1px solid #ddd;
    padding: 0 1rem;
   
}
nav
{
    z-index: 55;
}